* {margin: 0; padding: 0;}
:root {font-size: 16px;}
ul {margin: 0; padding: 0; list-style: none;}
li, a, span {display: block;}
a {text-decoration: none;}
img {width: 100%; height: auto;}

/* Import Font */
@font-face {
    font-family: 'PP Fragment Sans';
    src: url('./assets/font/pp_fragment_sans/PPFragment-SansRegular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'PP Fragment Serif';
    src: url('./assets/font/pp_fragment_serif/PPFragment-TextBold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'PP Fragment Sans';
    src: url('./assets/font/pp_fragment_sans/PPFragment-SansExtraBold.woff2') format('woff2');
    font-weight: 800;
}

/* Icons */
.material-icons {display: none; fill: #001141;}

/* Buttons */
.btn {display: inline-block; border: none; outline: none; border-radius: 8px; background-color: transparent; color: transparent; --notchSize: 10px; clip-path: polygon( 0% var(--notchSize), /* Top left */ var(--notchSize) 0%, /* Top left */ 100% 0%, /* Top right */ 100% var(--notchSize), /* Top right */ 100% calc(100% - var(--notchSize)), /* Bottom right */ calc(100% - var(--notchSize)) 100%, /* Bottom right */ var(--notchSize) 100%, /* Bottom left */ 0% 100% /* Bottom left */); transition: 250ms ease;}
.btn:hover {transform: scale(1.04);}
.btn.btn-primary {background-color: #001141; color: #FFF;}
.btn.btn-secondary {background-color: #FFF; color: #001141;}

/* Buttons Size */
.btn.btn-2xl {padding: 1rem 2rem; font-size: 1.125rem; line-height: 28px;}
.btn.btn-xl {padding: 0.75rem 1.5rem; font-size: 1rem; line-height: 24px;}
.btn.btn-lg {padding: 0.625rem 1.25rem; font-size: 0.875rem; line-height: 24px;}
.btn.btn-md {padding: 0.625rem 1.25rem; font-size: 1rem; line-height: 22px;}
.btn.btn-sm {padding: 0.5rem 1rem; font-size: 0.875rem; line-height: 20px;}

/* Buttons Colors */
.btn.bg-violet-01 {background-color: #7280FF;}
.btn.bg-blue-04 {background-color: #EDF5FF;}
.btn.danger {background-color: #DA1E28;}

/* Layout */
.container {padding: 0 calc(1.5rem * 0.5); margin: 0 auto;}
.container {max-width: 1400px;}
.grid__layout {display: grid; grid-template-columns: repeat(12, 1fr); column-gap: 1.125rem; position: relative;}

/* Titles */
h1 {font-size: 6rem; line-height: 142px; font-weight: 700;}
h2 {margin-bottom: 2rem;}
h3 {margin-bottom: 1.5rem;}
p {margin-bottom: 2rem;}

/* Heading */
.heading-07 {font-size: 54px; line-height: 64px; font-weight: 700;}
.heading-06 {font-size: 42px; line-height: 50px; font-weight: 700;}
.heading-05 {font-size: 32px; line-height: 40px; font-weight: 700;}
.heading-04 {font-size: 28px; line-height: 36px; font-weight: 700;}
.heading-03 {font-size: 20px; line-height: 28px; font-weight: 700;}
.body-01 {font-size: 14px; line-height: 20px; font-weight: 400;}
.label-02 {font-size: 14px; line-height: 18px; font-weight: 400;}

/* Font Weight */
.font-weight-sm {font-weight: 400;}

/* Text Colors */
.text-violet {color: #4D5EFF;}

/* Tag */
.tag-md {background-color: #4D5EFF; color: #FFF; padding: 0.5rem 0.75rem; border-radius: 8px; display: inline-block;}

/* Switcher */
.content-switcher {display: flex; align-items: center;}
.content-switcher input[type="radio"] {display: none;}
.content-switcher input[type="radio"]+label {background-color: #FFF; color: #4D5EFF; padding: 0.75rem; display: block; text-align: center; cursor: pointer; transition: 250ms ease;}
.content-switcher input[type="radio"]:checked+label {background-color: #4D5EFF; color: #FFF;}

/* Body */
html {scroll-behavior: smooth;}
body {font-family: 'PP Fragment Sans'; line-height: 24px; font-weight: 400; overflow-x: hidden; color: #001141;}
body.active header {background-color: #FFF; box-shadow: 0px 16px 24px rgba(2, 22, 36, 0.16); animation: elSlideDown; animation-duration: 500ms; animation-timing-function: ease;}

/* Header */
/* Navigation */
header {z-index: 1000; position: sticky; top: 0; left: 0;}
header .navigation__wrapper {display: flex; align-items: center; justify-content: space-between;}
header .navigation__wrapper .logo {position: relative; z-index: 1000;}
header .navigation__wrapper #primary__navigation {padding-top: 0;}
header .navigation__wrapper #primary__navigation .menu li {transition: 250ms ease;}
header .navigation__wrapper #primary__navigation .menu li > a {padding: 2rem 1rem; color: #001141;}
header .navigation__wrapper #primary__navigation .menu {display: flex; gap: 1.5rem;}
header .mobile__navigation {display: none; position: relative; z-index: 1000;}
header .mobile__navigation > svg {cursor: pointer; margin: 1rem 0 1rem 1rem;}

/* Navigation Active */
header .navigation__wrapper #primary__navigation .menu li.current__item, header .navigation__wrapper #primary__navigation .menu li:hover {background-color: #EDF5FF;}
header .navigation__wrapper #primary__navigation .menu li.current__item > a {box-shadow: inset 0 -4px 0 #001141;}

/* Main */
.high-value-wrapper, .concerts-wrapper, .conferences-wrapper, .panels-wrapper, .overview-application-wrapper, .cybsafe-wrapper {margin: 10rem 0;}

/* Heading */
.heading-wrapper {margin-top: 3rem; margin-bottom: 10rem; display: flex; align-items: center; column-gap: 4rem;}
.heading-wrapper .media-wrapper > svg {width: 100%; height: auto; flex-basis: 50%;}
.heading-wrapper .content-wrapper h1 > span {margin-bottom: 2rem; margin-top: -1rem;}

/* High Value Banner */
.high-value-wrapper .banner-wrapper {background-color: #EDF5FF; background-position: top center; background-repeat: no-repeat; grid-column-start: 2; grid-column-end: span 10; display: flex; align-items: center; justify-content: space-between; padding: 4rem 6rem;}
.high-value-wrapper .banner-wrapper > .high-value {display: flex; flex-direction: column; align-items: center; justify-content: center; row-gap: 0.5rem;}

/* Concerts */
.concerts-wrapper > h2 {grid-column-start: 2; grid-column-end: span 10;}
.artists-wrapper {row-gap: 4rem; grid-column-start: 2; grid-column-end: span 10;}
.artists-wrapper .artist-card {grid-column-end: span 3;}
.artists-wrapper .artist-card > img {aspect-ratio: 1/1; object-fit: cover; --notchSize: 10px; clip-path: polygon( 0% var(--notchSize), /* Top left */ var(--notchSize) 0%, /* Top left */ 100% 0%, /* Top right */ 100% var(--notchSize), /* Top right */ 100% calc(100% - var(--notchSize)), /* Bottom right */ calc(100% - var(--notchSize)) 100%, /* Bottom right */ var(--notchSize) 100%, /* Bottom left */ 0% 100% /* Bottom left */); transition: 250ms ease;}
.artists-wrapper .artist-card > img:hover {transform: scale(1.04);}
.artists-wrapper .artist-card .artist-content {margin-top: 1rem;}
.artists-wrapper .artist-card .artist-content > span:first-child {margin-bottom: 0.25rem;}
.artists-wrapper .artist-card .artist-content > span:nth-child(2) {margin-bottom: 0.75rem;}
.artists-wrapper .artist-card .artist-content > .artist-set {display: flex; align-items: center; column-gap: 1rem;}
.artists-wrapper .artist-card .artist-content > .artist-set > span {opacity: 0.7;}

/* Banner */
.artists-wrapper.grid__layout .programmation-banner {grid-column-start: 8; grid-column-end: span 5;}

/* Conférences */
.conferences-wrapper {padding: 6rem 0;}
.conferences-wrapper .content-wrapper {grid-column-start: 2; grid-column-end: span 5;}
.conferences-wrapper .content-wrapper ul > li {row-gap: 0.5rem;}
.conferences-wrapper .media-wrapper {grid-column-start: 7; grid-column-end: span 5;}

.media-wrapper {position: relative;}
.media-wrapper > .metallic-hand {position: absolute;}
.conferences-wrapper .media-wrapper > .metallic-hand.up {position: absolute; top: -20px; left: 30px; transform: rotate(10deg); transition: 250ms ease;}
.conferences-wrapper .media-wrapper > .metallic-hand.up:hover {transform: rotate(0);}

/* Tables rondes */
.panels-wrapper .content-wrapper {grid-column-start: 7; grid-column-end: span 5;}
.panels-wrapper .media-wrapper {grid-column-start: 2; grid-column-end: span 5;}
.panels-wrapper .content-wrapper ul > li {row-gap: 0.5rem;}
.panels-wrapper .media-wrapper > .metallic-hand.left {position: absolute; top: 90px; left: -190px;}
.panels-wrapper .media-wrapper > .metallic-hand.left.elSlideOut {animation-name: elSlideOut; animation-duration: 800ms; animation-timing-function: ease-out;}

/* Bannière Programmation */
.grid__layout > .programmation-banner {grid-column-start: 3; grid-column-end: span 8; text-align: center;}

/* L'application CybFest */
.overview-application-wrapper > h2 {grid-column-start: 2; grid-column-end: span 10; text-align: center;}
.overview-application-wrapper > .content-switcher {grid-column-start: 2; grid-column-end: span 10; justify-content: center; margin-top: 3rem; margin-bottom: 2.5rem;}
.overview-application-wrapper > .content-switcher input[type="radio"]+label {width: calc(100% / 6);}

/* Media / Image */
.application-wrapper > .media-wrapper {grid-column-start: 2; grid-column-end: span 3; align-self: center;}
.application-wrapper > .media-wrapper > img {max-width: 80%; filter: drop-shadow(0px 16px 24px rgba(0, 17, 65, 0.2));}

/* Switcher Boutique / Mes Billets */
.switcher-wrapper {position: relative;}
.switcher-wrapper .application-wrapper {transition: 250ms ease; align-items: center;}
.switcher-wrapper .application-wrapper[data-class="boutique"] {opacity: 1;}
.switcher-wrapper .application-wrapper[data-class="mes-billets"] {position: absolute; top: 0; left: 0; opacity: 0;}
.switcher-wrapper .application-wrapper .content-wrapper {grid-column-start: 6; grid-column-end: span 7;}
.switcher-wrapper .application-wrapper .content-wrapper ul {display: flex; flex-direction: column; row-gap: 2rem; margin-top: 2.5rem; margin-bottom: 2rem;}
.switcher-wrapper .application-wrapper .content-wrapper ul > li {border-bottom: none; padding: 0; column-gap: 0.5rem; align-items: start; justify-content: start; flex-wrap: nowrap; row-gap: 0;}
.switcher-wrapper .application-wrapper .content-wrapper ul > li > svg {transform: rotate(0); width: 28px; height: 28px; flex-shrink: 0;}

.switcher-wrapper .application-wrapper > .media-wrapper > img.elSlideOut {animation-name: elSlideOut; animation-duration: 1000ms; animation-timing-function: ease-out;}
.switcher-wrapper .application-wrapper > .content-wrapper.elSlideIn {animation-name: elSlideIn; animation-duration: 1000ms; animation-timing-function: ease-out;}

/* Le service CybSafe */
.cybsafe-wrapper .media-wrapper {grid-column-start: 8; grid-column-end: span 3;}
.cybsafe-wrapper .media-wrapper > video {max-width: 80%; filter: drop-shadow(0px 16px 24px rgba(0, 17, 65, 0.2)); transition: 250ms ease;}
.cybsafe-wrapper .media-wrapper > [data-class="alert"], .cybsafe-wrapper .media-wrapper > [data-class="localisation"] {position: absolute; top: 0; left: 0;}
.cybsafe-wrapper .media-wrapper > [data-class="alert"] {z-index: 100; opacity: 0;}
.cybsafe-wrapper .media-wrapper > [data-class="localisation"] {z-index: 200; opacity: 0;}
.cybsafe-wrapper .media-wrapper > [data-class="chat"] {z-index: 300; position: relative; opacity: 1;}

.cybsafe-wrapper .content-wrapper {grid-column-start: 2; grid-column-end: span 5;}
.cybsafe-wrapper .content-wrapper > a {float: right;}

/* Gestion des Accordéons*/
.content-wrapper > h2, .content-wrapper ul > li {color: #001141;}
.content-wrapper ul {margin-top: 2.5rem; margin-bottom: 2rem;}
.content-wrapper ul > li {padding: 1.5rem 0; display: flex; flex-wrap: wrap; row-gap: 0.5rem; cursor: pointer;}
.content-wrapper ul > li:not(:last-child) {border-bottom: 1px solid #001141;}
.content-wrapper ul > li .heading {display: flex; align-items: center; justify-content: space-between; width: 100%;}
.content-wrapper ul > li .heading > svg {width: 32px; height: 32px; transform: rotate(-90deg); flex-shrink: 0; transition: 250ms ease;}
.content-wrapper ul > li > span {max-height: 0; overflow-y: hidden; font-size: 1rem; font-weight: 400; line-height: 24px; transition: 250ms ease;}
.content-wrapper ul > li .footer {color: #4D5EFF;}

/* Open Accordéons */
.content-wrapper > ul > li.open {row-gap: 1rem;}
.content-wrapper > ul > li.open .heading > svg {transform: rotate(90deg);}
.content-wrapper > ul > li.open > span {max-height: 370px;}

/* Interactive Map */
#interactive-map .content-wrapper {grid-column-start: 6; grid-column-end: span 7;}
#interactive-map .content-wrapper ul {display: flex; flex-direction: column; row-gap: 2rem; margin-top: 2.5rem; margin-bottom: 2rem;}
#interactive-map .content-wrapper ul > li {border-bottom: none; padding: 0; column-gap: 0.5rem; align-items: start; justify-content: start; flex-wrap: nowrap; row-gap: 0;}
#interactive-map .content-wrapper ul > li > svg {transform: rotate(0); width: 28px; height: 28px; flex-shrink: 0;}

#interactive-map .media-wrapper > video {max-width: 80%; filter: drop-shadow(0px 16px 24px rgba(0, 17, 65, 0.2));}
#interactive-map .media-wrapper > video.elSlideOut {animation-name: elSlideOut; animation-duration: 1000ms; animation-timing-function: ease-out;}
#interactive-map .content-wrapper.elSlideIn {animation-name: elSlideIn; animation-duration: 1000ms; animation-timing-function: ease-out;}

/* Footer */
footer {background-color: #7280FF;}
footer .footer-top__wrapper {padding: 4rem 0 4.5rem 0; align-items: end;}
footer .footer-top__wrapper .site-info__wrapper {grid-column-start: 1; grid-column-end: span 4;}
footer .footer-top__wrapper .site-info__wrapper img {width: 16%; margin-bottom: 1rem;}
footer .footer-top__wrapper .site-info__wrapper p {color: #FFF;}
footer .footer-top__wrapper #secondary-navigation {display: flex; gap: 4rem; grid-column-start: 6; grid-column-end: span 6;}
footer .footer-top__wrapper #secondary-navigation span {color: #FFF;}
footer .footer-top__wrapper #secondary-navigation .menu li > a {color: #FFF; padding: 0.5rem 0;}

footer .footer-bottom__wrapper {display: flex; align-items: center; justify-content: space-between; border-top: 1px solid #EDF5FF40;}
footer .footer-bottom__wrapper span, footer .footer-bottom__wrapper .credentials a {color: #FFF;}
footer .footer-bottom__wrapper .credentials {display: flex; gap: 1rem;}
footer .footer-bottom__wrapper .credentials a {padding: 1.5rem 0; text-decoration: underline;}

/* All Animations */
@keyframes elSlideDown { from { transform: translateY(-100%); } to { transform: translateY(0); } }
@keyframes elSlideIn { from { transform: translateX(100%); } to { transform: translateX(0); } }
@keyframes elSlideOut { from { transform: translateX(-100%); } to { transform: translateX(0); } }
@keyframes elWidth { from { width: 0; } to { width: 130%; } }
@keyframes elOpacity { from { opacity: 0; } to { opacity: 1; } }
@keyframes pulseBlue { 0% { transform: scale(0.95); box-shadow: 0 0 0 0 rgba(15, 98, 254, 0.7); } 70% { transform: scale(1); box-shadow: 0 0 0 10px rgba(15, 98, 254, 0); } 100% { transform: scale(0.95); box-shadow: 0 0 0 0 rgba(15, 98, 254, 0); } }
@keyframes rotate180 { from { transform: rotate(0); } to { transform: rotate(180deg); } }

/* Responsive */
@media screen and (max-width: 1200px){
    .container {max-width: 1140px;}
}
@media screen and (max-width: 992px){
    .container {max-width: 960px;}

    h2 {margin-bottom: 1.5rem;}
    h3 {margin-bottom: 1rem;}
    .heading-md-06 {font-size: 42px; line-height: 50px;}
    .heading-md-05 {font-size: 32px; line-height: 40px;}
    .heading-md-03 {font-size: 20px; line-height: 28px;}
    .heading-md-02 {font-size: 16px; line-height: 24px;}

    /* Header */
    /* Navigation */
    header .navigation__wrapper .logo {margin-top: 1rem;}
    header .navigation__wrapper #primary__navigation {position: fixed; top: 0; left: 0; background-color: #FFF; width: 100%; height: 100%; padding-top: calc(56px + 4rem ); transform: translateX(100%); transition: 250ms ease;}
    header .navigation__wrapper #primary__navigation .menu {flex-direction: column; align-items: center; gap: 0;}
    header .navigation__wrapper #primary__navigation .menu li {display: block; width: 100%; text-align: center;}
    header .navigation__wrapper #primary__navigation .menu li > a {padding: 1.5rem;}
    header .mobile__navigation {display: flex; align-items: center; justify-content: center;}
    header .mobile__navigation > .close {display: none; animation: rotate180; animation-duration: 250ms; animation-timing-function: ease;}

    /* Navigation Active */
    header .navigation__wrapper.active #primary__navigation {transform: translateX(0);}
    header .navigation__wrapper.active .mobile__navigation > .close {display: block;}
    header .navigation__wrapper.active .mobile__navigation > .open {display: none;}

    /* Main */
    .high-value-wrapper, .concerts-wrapper, .conferences-wrapper, .panels-wrapper, .overview-application-wrapper, .cybsafe-wrapper {margin: 6rem 0;}

    /* Concerts */
    .artists-wrapper .artist-card {grid-column-end: span 4;}

    /* Banner */
    .artists-wrapper.grid__layout .programmation-banner {grid-column-start: 6; grid-column-end: span 7;}

    /* Conférences */
    .conferences-wrapper {padding: 0}
    .conferences-wrapper .content-wrapper {grid-column-start: 2; grid-column-end: span 6; position: relative; z-index: 100;}
    .conferences-wrapper .media-wrapper {grid-column-start: 7; grid-column-end: span 5; position: absolute; right: 0; bottom: -30px; height: 100%;}
    .conferences-wrapper .media-wrapper > .metallic-hand.up {z-index: 200;}

    /* Tables rondes */
    .panels-wrapper .content-wrapper {grid-column-start: 6; grid-column-end: span 6; position: relative; z-index: 100;}
    .panels-wrapper .media-wrapper {grid-column-start: 2; grid-column-end: span 5; position: absolute; left: 0; top: 0; height: 100%;}
    .panels-wrapper .media-wrapper > .metallic-hand.left {z-index: 200; left: -110px;}

    /* L'application CybFest */
    .application-wrapper > .media-wrapper {align-self: center;}
    .application-wrapper > .content-wrapper {grid-column-start: 5; grid-column-end: span 7; margin-top: 0;}
    .application-wrapper > .content-wrapper ul > li > svg {width: 24px; height: 24px;}
    .application-wrapper > .content-wrapper .content-switcher input[type="radio"]+label {width: calc(100% / 3);}

    /* Le service CybSafe */
    /* Les Accordéons */
    .content-wrapper ul > li > svg {width: 24px; height: 24px;}
    .cybsafe-wrapper .content-wrapper {grid-column-start: 2; grid-column-end: span 6;}

    /* Gestion des mockups */
    .cybsafe-wrapper .media-wrapper {grid-column-start: 9; grid-column-end: span 3;}
}
@media screen and (max-width: 768px){
    .container {max-width: 720px;}

    /* Header */
    header .navigation__wrapper .logo {margin-top: 0.5rem;}

    /* High Value Banner */
    .high-value-wrapper .banner-wrapper {padding: 4rem;}

    /* Concerts */
    .artists-wrapper {row-gap: 2.5rem;}
    .artists-wrapper .artist-card {grid-column-end: span 6;}
    .artists-wrapper.grid__layout .programmation-banner {grid-column-start: 1; grid-column-end: span 12; text-align: center;}

    /* Conférences */
    .content-wrapper ul > li {padding: 1rem 0;}

    /* L'application CybFest */
    .overview-application-wrapper > h2 {grid-column-start: 1; grid-column-end: span 12;}
    .overview-application-wrapper > .content-switcher {grid-column-start: 1; grid-column-end: span 12; justify-content: center;}
    .overview-application-wrapper > .content-switcher input[type="radio"]+label {width: calc(100% / 4);}
    .application-wrapper > .media-wrapper {grid-column-start: 1; grid-column-end: span 4;}
    .application-wrapper > .media-wrapper > img {max-width: 100%;}
    .application-wrapper > .content-wrapper {grid-column-end: span 8;}

    /* Le service CybSafe */
    /* Les Accordéons */
    .cybsafe-wrapper .content-wrapper {grid-column-start: 1; grid-column-end: span 7;}

    /* Gestion des mockups */
    .cybsafe-wrapper .media-wrapper {grid-column-start: 9; grid-column-end: span 4;}

    /* Footer */
    footer .footer-top__wrapper {padding: 4rem 0 2rem 0; row-gap: 2rem;}
    footer .footer-top__wrapper .site-info__wrapper {grid-column-start: 1; grid-column-end: span 12;}
    footer .footer-top__wrapper .site-info__wrapper img {width: 30%;}
    footer .footer-top__wrapper #secondary-navigation {grid-column-start: 1; grid-column-end: span 12; gap: 0; justify-content: space-between;}
}
@media screen and (max-width: 576px){
    .container {max-width: 540px;}

    /* High Value Banner */
    .high-value-wrapper .banner-wrapper {padding: 3rem 2rem; flex-wrap: wrap; justify-content: center; row-gap: 1rem;}

    /* Concerts */
    .artists-wrapper {grid-column-start: 1; grid-column-end: span 12; row-gap: 2.5rem;}
    .concerts-wrapper > h2 {grid-column-start: 1; grid-column-end: span 12;}
    .artists-wrapper .artist-card {grid-column-end: span 6;}

    /* Conférences */
    .conferences-wrapper {padding: 0; row-gap: calc(2.5rem + 2rem);}
    .conferences-wrapper .content-wrapper {grid-column-start: 1; grid-column-end: span 12; position: initial;}
    .conferences-wrapper .media-wrapper {grid-column-start: 2; grid-column-end: span 10; position: relative; bottom: auto; right: auto; height: auto;}
    .conferences-wrapper .content-wrapper ul > li {row-gap: 0.25rem;}

    /* Tables rondes */
    .panels-wrapper {row-gap: 2.5rem;}
    .panels-wrapper .content-wrapper {grid-column-start: 1; grid-column-end: span 12; position: initial;}
    .panels-wrapper .media-wrapper {grid-column-start: 2; grid-column-end: span 10; position: relative; top: auto; left: auto; height: auto;}
    .panels-wrapper .content-wrapper ul > li {row-gap: 0.25rem;}
    .panels-wrapper .content-wrapper ul > li.open {row-gap: 0.75rem;}
    
    /* Bannière Programmation */
    .grid__layout > .programmation-banner {grid-column-start: 1; grid-column-end: span 12; text-align: center;}

    /* L'application CybFest */
    .application-wrapper > .media-wrapper {grid-column-start: 4; grid-column-end: span 6;}
    .content-wrapper > a {display: block; text-align: center;}
    
    .overview-application-wrapper > .content-switcher input[type="radio"]+label {width: calc(100%);}

    /* Switcher Boutique / Mes Billets */
    .switcher-wrapper .application-wrapper .content-wrapper {grid-column-start: 1; grid-column-end: span 12; margin-top: 2.5rem;}
    
    /* Le service CybSafe */
    /* Les Accordéons */
    .cybsafe-wrapper .content-wrapper {grid-column-start: 1; grid-column-end: span 12; order: 2;}
    .cybsafe-wrapper .content-wrapper > a {float: none; display: block; text-align: center;}

    /* Gestion des mockups */
    .cybsafe-wrapper .media-wrapper {grid-column-start: 3; grid-column-end: span 8; order: 1;}

    /* Interactive Map */
    #interactive-map .content-wrapper {grid-column-start: 1; grid-column-end: span 12; margin-top: 2.5rem;}

    /* Footer */
    footer .footer-top__wrapper #secondary-navigation {flex-wrap: wrap; gap: 1.5rem;}
    footer .footer-top__wrapper .site-info__wrapper img {width: 60%;}
    footer .footer-bottom__wrapper {flex-direction: column;}
    footer .footer-bottom__wrapper span {width: 100%; text-align: center;}
    footer .footer-bottom__wrapper .credentials {flex-direction: column; align-items: center; gap: 0; width: 100%;}
    footer .footer-bottom__wrapper span, footer .footer-bottom__wrapper .credentials a {padding: 0.75rem 1rem;}
}