* {margin: 0; box-sizing: border-box;}
:root {font-size: 16px;}
html {scroll-behavior: smooth;}
body {font-family: 'PP Fragment Sans'; font-weight: 400; line-height: 24px; overflow-x: hidden;}
a, span {display: block;}
a {text-decoration: none; color: #001141;}
ul {margin: 0; padding: 0; list-style: none;}
img, svg {width: 100%; height: auto;}
small {font-size: 0.875rem; font-weight: 400; line-height: 20px;}

/* Layout */
.container {padding: 0 calc(1.5rem * 0.5); margin: 0 auto;}
.container {max-width: 1400px;}
.layout__grid {display: grid; grid-template-columns: repeat(12, 1fr); position: relative;}

/* Import Font */
@font-face {
    font-family: 'PP Fragment Sans';
    src: url('./assets/font/pp_fragment_sans/PPFragment-SansRegular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'PP Fragment Serif';
    src: url('./assets/font/pp_fragment_serif/PPFragment-TextBold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'PP Fragment Sans';
    src: url('./assets/font/pp_fragment_sans/PPFragment-SansExtraBold.woff2') format('woff2');
    font-weight: 800;
}

/* Titles */
h1 {font-size: 4.625rem; font-weight: 400; line-height: 112px; color: #001141;}
h2 {font-family: 'PP Fragment Serif'; font-size: 3.375rem; font-weight: 700; line-height: 64px; color: #001141;}
h3 {font-family: 'PP Fragment Serif'; font-size: 2.625rem; font-weight: 700; line-height: 50px; color: #001141;}
.heading-02 {font-family: 'PP Fragment Serif'; font-size: 1rem; font-weight: 800; line-height: 24px; color: #001141;}
.heading-03 {font-family: 'PP Fragment Serif'; font-size: 1.25rem; font-weight: 700; line-height: 28px; color: #001141;}
.heading-04 {font-family: 'PP Fragment Serif'; font-size: 1.75rem; font-weight: 700; line-height: 36px; color: #001141;}
.heading-05 {font-family: 'PP Fragment Serif'; font-size: 2rem; font-weight: 700; line-height: 40px; color: #001141;}
.heading-07 {font-size: 4.625rem; font-weight: 400; line-height: 112px; color: #001141;}
.heading-compact-02 {font-family: 'PP Fragment Serif'; font-size: 1rem; line-height: 22px; font-weight: 700; color: #001141;}
.body-01 {font-family: 'PP Fragment Sans'; font-size: 0.875rem; font-weight: 400; line-height: 20px;}
.body-02 {font-family: 'PP Fragment Sans'; font-size: 1rem; font-weight: 400; line-height: 24px;}
.lead {font-family: 'PP Fragment Sans'; font-size: 1.25rem; font-weight: 400; line-height: 28px;}
p {margin-bottom: 1rem;}
.label-01 {font-family: 'PP Fragment Sans'; font-size: 0.75rem; font-weight: 400; line-height: 16px;}

/* Buttons */
.btn {display: inline-block; border: none; outline: none; border-radius: 8px; background-color: transparent; color: transparent; --notchSize: 10px; clip-path: polygon( 0% var(--notchSize), /* Top left */ var(--notchSize) 0%, /* Top left */ 100% 0%, /* Top right */ 100% var(--notchSize), /* Top right */ 100% calc(100% - var(--notchSize)), /* Bottom right */ calc(100% - var(--notchSize)) 100%, /* Bottom right */ var(--notchSize) 100%, /* Bottom left */ 0% 100% /* Bottom left */); transition: 250ms ease;}
.btn:hover {transform: scale(1.04);}
.btn.btn-primary {background-color: #001141; color: #FFF;}
.btn.btn-secondary {background-color: #FFF; color: #001141;}

.btn-outline {color: #001141; border: 2px solid #001141; position: relative;}
.btn.btn-outline::before, .btn.btn-outline::after {content: ''; position: absolute; width: 18px; height: 18px; transform: rotate(-45deg);}
.btn.btn-outline::before {border-top: 2px solid #001141; top: 2px; left: -1px;}
.btn.btn-outline::after {border-bottom: 2px solid #001141; bottom: -1px; right: 3px;}

/* Buttons Size */
.btn.btn-2xl {padding: 1rem 2rem; font-size: 1.125rem; line-height: 28px;}
.btn.btn-xl {padding: 0.75rem 1.5rem; font-size: 1rem; line-height: 24px;}
.btn.btn-lg {padding: 0.625rem 1.25rem; font-size: 0.875rem; line-height: 24px;}
.btn.btn-md {padding: 0.625rem 1.25rem; font-size: 1rem; line-height: 22px;}
.btn.btn-sm {padding: 0.5rem 1rem; font-size: 0.875rem; line-height: 20px;}

/* Buttons Colors */
.btn.bg-violet-01 {background-color: #7280FF;}
.btn.bg-blue-04 {background-color: #EDF5FF;}
.btn.danger {background-color: #DA1E28;}

/* Switcher */
.switcher {display: flex; justify-content: center; margin-top: 2.5rem;}
.content-switcher {border: 1px solid #4D5EFF; display: inherit;}
.content-switcher input[type="radio"] {display: none;}
.content-switcher input[type="radio"]+label {padding: 0.75rem 2rem; background-color: #FFF; color: #4D5EFF; display: block; text-align: center; cursor: pointer; transition: 250ms cubic-bezier(0.470, 0.000, 0.745, 0.715);}
.content-switcher input[type="radio"]:checked+label {background-color: #4D5EFF; color: #FFF;}

/* Icons */
.material-icons {display: none;}
.material-icons > .material-icon {fill: #001141; width: 40px; height: 40px;}

/* Header */
/* Navigation */
header {position: fixed; top: 0; left: 0; z-index: 1000; width: 100%;}
header .navigation__wrapper {display: flex; align-items: center; justify-content: space-between;}
header .navigation__wrapper .logo {position: relative; z-index: 1000; margin: 1rem 0;}
header .navigation__wrapper #primary__navigation {padding-top: 0;}
header .navigation__wrapper #primary__navigation .menu li {transition: 250ms ease;}
header .navigation__wrapper #primary__navigation .menu li > a {padding: 2rem 1rem; color: #001141;}
header .navigation__wrapper #primary__navigation .menu {display: flex; gap: 1.5rem;}
header .mobile__navigation {display: none; position: relative; z-index: 1000;}
header .mobile__navigation > svg {cursor: pointer; margin: 1rem 0 1rem 1rem;}

/* Navigation Active */
header .navigation__wrapper #primary__navigation .menu li.current__item, header .navigation__wrapper #primary__navigation .menu li:hover {background-color: #EDF5FF;}
header .navigation__wrapper #primary__navigation .menu li.current__item > a {box-shadow: inset 0 -4px 0 #001141;}
header.active {background-color: #FFF; box-shadow: 0px 16px 24px rgba(2, 22, 36, 0.16); animation: translateHeader; animation-duration: 500ms; animation-timing-function: ease;}

@keyframes translateHeader {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Main */
main {overflow: hidden;}
#heading__section, #programmation__section, #application-cybsafe__section {grid-column-start: 2; grid-column-end: span 10;}
.concerts-wrapper, .conferences-wrapper, .panel-wrapper, #application-cybsafe__section, .application-wrapper.cybsafe {margin: 10rem 0;}

/* Heading Section */
/* Reassurance banner */
.reassurance-banner {margin-top: 10rem; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;}
.reassurance-banner .reassurance-wrapper {position: relative;}
.reassurance-banner .reassurance-wrapper:nth-child(2) svg {transform: rotate(180deg);}
.reassurance-banner .reassurance-wrapper:nth-child(3) svg {transform: matrix(1, 0, 0, -1, 0, 0);}
.reassurance-banner .reassurance-wrapper > svg {width: 300px; height: 300px;}
.reassurance-banner .reassurance-wrapper > div {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -60%); text-align: center; z-index: 300;}
.reassurance-banner .reassurance-wrapper > div span {color: #FFF;}

/* Programmation Section */
/* Concerts */
.concerts-wrapper {position: relative;}
.concerts-wrapper .blop-bottom {position: absolute; bottom: -60px; right: -270px; width: 100%; height: 60%; fill: #F4F4F4;}
.concerts-wrapper .artists-wrapper {margin-top: 3rem; display: flex; flex-wrap: wrap; justify-content: space-between; column-gap: 1.25rem; row-gap: 4rem; position: relative; z-index: 200;}
.concerts-wrapper .artist-card {flex-basis: calc(100% / 4 - 1.25rem); --notchSize: 10px; clip-path: polygon( 0% var(--notchSize), /* Top left */ var(--notchSize) 0%, /* Top left */ 100% 0%, /* Top right */ 100% var(--notchSize), /* Top right */ 100% calc(100% - var(--notchSize)), /* Bottom right */ calc(100% - var(--notchSize)) 100%, /* Bottom right */ var(--notchSize) 100%, /* Bottom left */ 0% 100% /* Bottom left */); transition: 250ms ease;}
.concerts-wrapper .artist-card:hover {transform: scale(1.02);}
.concerts-wrapper .artist-card > img {aspect-ratio: 1/1; object-fit: cover; max-width: 380px;}
.concerts-wrapper .artist-card .artist-content > span {margin: 0.75rem 0 0.25rem 0;}

/* Conférences */
.conferences-wrapper .content-wrapper {display: flex; flex-direction: column; row-gap: 2.5rem; align-items: start;}
.conferences-wrapper .content-wrapper ul > li {padding: 1.5rem 0; border-bottom: 1px solid #4D5EFF; display: block;}

/* Panel */
.panel-wrapper .content-wrapper {display: flex; flex-direction: column; row-gap: 2.5rem; align-items: end;}
.panel-wrapper .content-wrapper ul > li {padding: 1.5rem 0; border-bottom: 1px solid #4D5EFF; display: block;}

/* Programmation Banner */
.concerts-wrapper .programmation-banner {flex-basis: calc(100% / 2); padding: 1rem 1.5rem; text-align: left;}
.programmation-banner {text-align: center; padding: 4rem;}
.programmation-banner > h3 {margin-bottom: 1.5rem;}
.programmation-banner > a {margin-top: 1rem;}

/* Application Overview */
#application-cybsafe__section > h2 {text-align: center;}
.application-wrapper {display: flex; margin-top: 3rem; align-items: start; column-gap: 6rem;} 
.application-wrapper > img {max-width: 300px;}
.application-wrapper > img.mockupSlideInLeft {animation: mockupSlideInLeft; animation-duration: 1000ms; animation-timing-function: ease;}
@keyframes mockupSlideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
.application-wrapper .content-wrapper {width: auto;}
.application-wrapper .content-wrapper.contentSlideInRight {animation: contentSlideInRight; animation-duration: 1000ms; animation-timing-function: ease-in-out;}
@keyframes contentSlideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
.application-wrapper .content-wrapper > h3 {margin-bottom: 1.5rem;}
.application-wrapper .content-wrapper > a {margin-top: 1rem;}
.application-wrapper .content-wrapper ul li {padding: 1.5rem 0; display: flex; column-gap: 0.5rem;}
.application-wrapper .content-wrapper ul li svg {width: 28px; height: 28px;}
.application-wrapper .media-wrapper {position: relative;}
.application-wrapper .media-wrapper img {max-width: 300px; width: auto; height: 100%;}

/* Active Wrapper */
.application-wrapper.mes-billets {display: none;}

/* Service CybSafe */
.application-wrapper.cybsafe .content-wrapper > .cards-wrapper {margin-top: 1rem;}
.application-wrapper.cybsafe .content-wrapper > a {float: right;}
.application-wrapper.cybsafe .media-wrapper .features-wrapper .action-wrapper button > svg {width: 20px; height: 20px;}
.application-wrapper.cybsafe .media-wrapper img.mockupSlideInRight {animation-name: mockupSlideInRight; animation-duration: 1000ms; animation-timing-function: ease;}
@keyframes mockupSlideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
.features-wrapper.chat, .features-wrapper.alert, .features-wrapper.localisation {display: none;}
.application-wrapper.cybsafe .media-wrapper .features-wrapper.chat {position: absolute; top: 180px; right: -100px; z-index: 200;}
.application-wrapper.cybsafe .media-wrapper .features-wrapper.chat.chatSlideIn {animation-name: chatSlideIn; animation-duration: 800ms; animation-timing-function: ease-out;}
.application-wrapper.cybsafe .media-wrapper .features-wrapper.chat .action-wrapper {display: flex; flex-direction: column; align-items: center; row-gap: 0.5rem;}
.application-wrapper.cybsafe .media-wrapper .features-wrapper.chat .action-wrapper > button {width: 100%; clip-path: none;}
.application-wrapper.cybsafe .media-wrapper .features-wrapper.chat .action-wrapper > svg {transform: rotate(-90deg); width: 20px; height: 20px;}
@keyframes chatSlideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
.application-wrapper.cybsafe .media-wrapper .features-wrapper.alert {filter: drop-shadow(0px 24px 50px rgba(0, 17, 65, 0.15)); position: absolute; bottom: 120px; left: -4px; width: 90%; z-index: 200; animation-name: alertSlideIn; animation-duration: 400ms; animation-timing-function: ease-out;}
@keyframes alertSlideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
.application-wrapper.cybsafe .media-wrapper .features-wrapper.alert .action-wrapper {display: flex; column-gap: 0.75rem; margin-bottom: 1rem;}
.application-wrapper.cybsafe .media-wrapper .features-wrapper.alert .action-wrapper > button {display: flex; align-items: center; justify-content: center; column-gap: 0.5rem;}

.application-wrapper .media-wrapper .card-wrapper {background-color: #FFF; border-radius: 8px; padding: 1rem;}
.application-wrapper .media-wrapper .card-wrapper button {display: flex; align-items: center; justify-content: center; column-gap: 0.5rem; width: 100%;}
.application-wrapper .media-wrapper .card-wrapper button > svg {width: 20px; height: 20px;}
.application-wrapper .media-wrapper .card-wrapper .heading-wrapper {display: flex; align-items: start; justify-content: space-between; margin-bottom: 1rem;}
.application-wrapper .media-wrapper .card-wrapper .heading-wrapper button > img {width: 20px; height: 20px;}
.application-wrapper .media-wrapper .card-wrapper .heading-wrapper .tag {padding: 0.5rem 0.75rem; background-color: #001141; border-radius: 8px; color: #FFF; --notchSize: 10px; clip-path: polygon( 0% var(--notchSize), /* Top left */ var(--notchSize) 0%, /* Top left */ 100% 0%, /* Top right */ 100% var(--notchSize), /* Top right */ 100% calc(100% - var(--notchSize)), /* Bottom right */ calc(100% - var(--notchSize)) 100%, /* Bottom right */ var(--notchSize) 100%, /* Bottom left */ 0% 100% /* Bottom left */); display: flex; align-items: center; column-gap: 0.25rem;}
.application-wrapper .media-wrapper .card-wrapper .heading-wrapper .tag > svg {width: 14px; height: 14px;}

.application-wrapper.cybsafe .media-wrapper .features-wrapper.localisation {position: absolute; top: 140px; right: -70px; z-index: 200; animation-name: localisationSlideIn; animation-duration: 1000ms; animation-timing-function: ease-out;}
@keyframes localisationSlideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.application-wrapper.cybsafe .media-wrapper .features-wrapper.localisation > button {filter: drop-shadow(0px 16px 24px rgba(0, 17, 65, 0.15)); position: relative; clip-path: none; transform: scale(1);}
.application-wrapper.cybsafe .media-wrapper .features-wrapper.localisation > button::before {content: ''; position: absolute; bottom: -6px; left: -6px; width: 16px; height: 16px; background-color: #0F62FE; border-radius: 50%;}
.application-wrapper.cybsafe .media-wrapper .features-wrapper.localisation > svg {position: absolute; bottom: 2px; left: 0; transform-origin: bottom left; transform: rotate(182deg); width: 0; animation-name: svgWidth; animation-delay: 800ms; animation-duration: 500ms; animation-timing-function: ease-out; animation-fill-mode: forwards;}
@keyframes svgWidth {
    from {
        width: 0;
    }
    to {
        width: 110%;
    }
}
.outer-circle.current-location {background-color: #0f63fe20; width: 40px; height: 40px; border-radius: 50%; display: flex; align-items: center; justify-content: center; position: absolute; left: -160px; bottom: -100px; z-index: 200; animation-name: mockupSlideInRight, svgPulseBlue; animation-delay: 0ms, 1000ms; animation-duration: 1000ms, 2s; animation-iteration-count: 1, infinite; animation-timing-function: ease;}
@keyframes svgSlideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes svgPulseBlue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(15, 98, 254, 0.7);
    }
    
        70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(15, 98, 254, 0);
    }
    
        100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(15, 98, 254, 0);
    }
}
.outer-circle.current-location .inner-circle {background-color: #0F62FE; color: #FFF; width: 24px; height: 24px; border-radius: 50%; display: flex; align-items: center; justify-content: center;}
.outer-circle.current-location .inner-circle > svg {width: 16px; height: 16px;}

/* Accordion */
.content-wrapper .cards-wrapper {margin-top: 2.5rem; display: flex; flex-direction: column;}
.content-wrapper .cards-wrapper .service-card {display: flex; flex-direction: column; padding-bottom: 1.5rem;}
.content-wrapper .cards-wrapper .service-card:nth-child(even) {border-top: 1px solid #C6C6C6; border-bottom: 1px solid #C6C6C6;}
.content-wrapper .cards-wrapper .service-card h4 {display: flex; align-items: center; justify-content: space-between; padding-top: 1.5rem;}
.content-wrapper .cards-wrapper .service-card svg {width: 32px; height: 32px; cursor: pointer; transform: rotate(-90deg); transition: 250ms ease;}
.content-wrapper .cards-wrapper .service-card .card-content {max-height: 0; overflow: hidden; transition: 250ms ease;}
.content-wrapper .cards-wrapper .service-card .card-content > p {margin-top: 1rem; margin-bottom: 0;}

/* Active Accordion */
.cards-wrapper .service-card.open .card-content {max-height: calc(120px + 1rem);}
.cards-wrapper .service-card.open svg {transform: rotate(90deg);}

/* Interactive Map */
.activity-wrapper {position: absolute; bottom: 120px; left: -24px; display: flex; flex-direction: row; column-gap: 0.5rem; width: 99%; overflow: hidden; filter: drop-shadow(0px 16px 24px rgba(0, 17, 65, 0.2));}
.application-wrapper .media-wrapper .card-wrapper .content-wrapper {display: flex; justify-content: space-between;}
.application-wrapper .media-wrapper .card-wrapper .content-wrapper {display: flex; align-items: end; justify-content: space-between; column-gap: 3.4rem;}
.application-wrapper .media-wrapper .card-wrapper .content-wrapper > div {flex: 1;}
.application-wrapper .media-wrapper .card-wrapper .content-wrapper > div > span:first-child {margin-bottom: 0.25rem;}
.application-wrapper .media-wrapper .card-wrapper .content-wrapper > div > span:last-child {display: flex; align-items: center; column-gap: 0.25rem;}
.application-wrapper .media-wrapper .card-wrapper .content-wrapper .green-dot, .application-wrapper .media-wrapper .card-wrapper .content-wrapper .orange-dot  {background-color: #24A148; width: 10px; height: 10px; border-radius: 50%;}
.application-wrapper .media-wrapper .card-wrapper .content-wrapper .orange-dot {background-color: #FF832B;}
.application-wrapper .media-wrapper .card-wrapper .content-wrapper button {flex: 1;}

.application-wrapper.interactive-map .media-wrapper .outer-circle, .media-wrapper .outer-circle .middle-circle, .media-wrapper .outer-circle .middle-circle .inner-circle {border-radius: 50%;}
.application-wrapper.interactive-map .media-wrapper .outer-circle.drink.pulse {background-color: #DDE1E620; display: flex; align-items: center; justify-content: center; position: absolute; width: 48px; height: 48px; top: 268px; left: 66px; animation-name: svgPulseGrey; animation-duration: 2s; animation-iteration-count: infinite; animation-timing-function: ease;}
.application-wrapper.interactive-map .media-wrapper .outer-circle.drink.pulse .middle-circle {width: 32px; height: 32px; background-color: #DDE1E640; display: flex; align-items: center; justify-content: center;}
.application-wrapper.interactive-map .media-wrapper .outer-circle.drink.pulse .middle-circle .inner-circle {width: 20px; height: 20px; background-color: #DDE1E6;}
@keyframes svgPulseGrey {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(221, 225, 230, 0.7);
    }
    
        70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(221, 225, 230, 0);
    }
    
        100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(221, 225, 230, 0);
    }
}
.application-wrapper.interactive-map .media-wrapper .outer-circle.current-location {animation-delay: 0ms; top: 240px; left: 80px;}

    /* Footer */
footer {background-color: #7280FF;}
footer .footer-top__wrapper {padding: 4rem 0 4.5rem 0; align-items: end;}
footer .footer-top__wrapper .site-info__wrapper {grid-column-start: 1; grid-column-end: span 4;}
footer .footer-top__wrapper .site-info__wrapper img {width: 50%; margin-bottom: 1rem;}
footer .footer-top__wrapper .site-info__wrapper p {color: #FFF;}
footer .footer-top__wrapper #secondary-navigation {display: flex; gap: 4rem; grid-column-start: 6; grid-column-end: span 6;}
footer .footer-top__wrapper #secondary-navigation span {color: #FFF;}
footer .footer-top__wrapper #secondary-navigation .menu li > a {color: #FFF; padding: 0.5rem 0;}

footer .footer-bottom__wrapper {display: flex; align-items: center; justify-content: space-between; border-top: 1px solid #EDF5FF40;}
footer .footer-bottom__wrapper span, footer .footer-bottom__wrapper .credentials a {color: #FFF;}
footer .footer-bottom__wrapper .credentials {display: flex; gap: 1rem;}
footer .footer-bottom__wrapper .credentials a {padding: 1.5rem 0; text-decoration: underline;}

/* Responsive */
@media screen and (max-width: 1200px){
    .container {max-width: 1140px;}
}
@media screen and (max-width: 992px) {
    .container {max-width: 960px;}

    .concerts-wrapper, .conferences-wrapper, .panel-wrapper, #application-cybsafe__section, .application-wrapper.cybsafe {margin: 6rem 0;}

    /* Titles */
    h2 {font-size: 42px; line-height: 50px;}
    h3 {font-size: 32px; line-height: 42px;}
    h4 {font-size: 28px; line-height: 36px;}
    .heading-07 {font-size: 2.625rem; line-height: 50px;}
    .heading-06 {font-size: 2rem; line-height: 40px;}
    .heading-05 {font-size: 1.25rem; line-height: 28px;}
    .heading-04 {font-size: 1.25rem; line-height: 28px;}
    .lead {font-size: 1rem; line-height: 24px;}

    /* Header */
    /* Navigation */
    header .navigation__wrapper #primary__navigation {position: fixed; top: 0; left: 0; background-color: #FFF; width: 100%; height: 100%; padding-top: calc(56px + 4rem ); transform: translateX(100%); transition: 250ms ease;}
    header .navigation__wrapper #primary__navigation .menu {flex-direction: column; align-items: center; gap: 0;}
    header .navigation__wrapper #primary__navigation .menu li {display: block; width: 100%; text-align: center;}
    header .navigation__wrapper #primary__navigation .menu li > a {padding: 1.5rem;}
    header .mobile__navigation {display: flex; align-items: center; justify-content: center;}
    header .mobile__navigation > .close {display: none; animation: rotateCross; animation-duration: 250ms; animation-timing-function: ease;}

    @keyframes rotateCross {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(180deg);
        }
    }
    /* Navigation Active */
    header .navigation__wrapper.active #primary__navigation {transform: translateX(0);}
    header .navigation__wrapper.active .mobile__navigation > .close {display: block;}
    header .navigation__wrapper.active .mobile__navigation > .open {display: none;}

    /* Heading Section */
    /* Reassurance banner */
    .reassurance-banner {margin-top: 6rem; justify-content: center; column-gap: 2.5rem;}

    /* Programmation Section */
    /* Concerts */
    .concerts-wrapper .artist-card {flex-basis: calc(100% / 3 - 1rem);}

    /* Programmation Banner */
    .concerts-wrapper .programmation-banner {flex-basis: calc(100% / 1.52); padding: 2rem; text-align: center;}

}
@media screen and (max-width: 768px) {
    .container {max-width: 720px;}

    /* Main */
    main {margin-top: calc(56px + 2rem);}
    #heading__section, #programmation__section, #application-cybsafe__section {grid-column-start: 1; grid-column-end: span 12;}
    .concerts-wrapper, .conferences-wrapper, .panel-wrapper, #application-cybsafe__section, .application-wrapper.cybsafe {margin: 6rem 0;}
    
    /* Heading Section */
    /* Reassurance banner */
    .reassurance-banner .reassurance-wrapper > svg {width: 240px; height: 240px;}

    /* Programmation Section */
    /* Concerts */
    .concerts-wrapper .artists-wrapper {margin-top: 2rem; column-gap: 1rem; row-gap: 2.5rem;}

    /* Conférences */
    .conferences-wrapper .content-wrapper {row-gap: 1.2rem;}

    /* Panel */
    .panel-wrapper .content-wrapper {row-gap: 1.2rem;}

    /* Programmation Banner */
    .concerts-wrapper .programmation-banner {padding: 0.5rem 1.5rem;}

    /* Application Overview */
    .application-wrapper {flex-wrap: wrap; justify-content: center; row-gap: 1.5rem;}
    .application-wrapper .content-wrapper {order: 2;}
    .application-wrapper.cybsafe .content-wrapper > a {float: none;}

    /* Footer */
    footer .footer-top__wrapper {padding: 4rem 0 2rem 0; row-gap: 2rem;}
    footer .footer-top__wrapper .site-info__wrapper {grid-column-start: 1; grid-column-end: span 12;}
    footer .footer-top__wrapper .site-info__wrapper img {width: 40%;}
    footer .footer-top__wrapper #secondary-navigation {grid-column-start: 1; grid-column-end: span 12; gap: 0; justify-content: space-between;}
}
@media screen and (max-width: 576px) {
    .container {max-width: 540px;}
    
    /* Heading Section */
    /* Reassurance banner */
    .reassurance-banner {row-gap: 1rem; column-gap: 0;}
    .reassurance-banner .reassurance-wrapper > svg {width: 200px; height: 200px;}

    /* Programmation Section */
    /* Concerts */
    .concerts-wrapper .artist-card {flex-basis: calc(100% / 2 - 1rem);}

    /* Conférences */
    .conferences-wrapper .content-wrapper {justify-content: center;}
    .conferences-wrapper .content-wrapper ul {width: 100%;}
    .conferences-wrapper .content-wrapper ul > li {padding: 1rem 0; display: block;}

    /* Panel */
    .panel-wrapper .content-wrapper {align-items: start;}
    .panel-wrapper .content-wrapper ul {width: 100%;}
    .panel-wrapper .content-wrapper ul > li {padding: 1rem 0; display: block;}

    /* Programmation Banner */
    /* Programmation Banner */
    .concerts-wrapper .programmation-banner {flex-basis: 100%; padding: 0;}
    .programmation-banner {padding: 0;}

     /* Application Overview */
    .content-switcher {width: 100%;}
    .content-switcher input[type="radio"]+label {width: 100%;}
     #application-cybsafe__section > h2 {text-align: center;}
    .application-wrapper > img {max-width: 260px;}
    .application-wrapper .content-wrapper {width: 100%; order: 2;}
    .application-wrapper .content-wrapper > h3 {margin-bottom: 1.5rem;}
    .application-wrapper .content-wrapper > a {width: 100%; text-align: center;}
    .application-wrapper .content-wrapper ul li {padding: 1rem 0 1rem calc(1rem + 8px);}
    .application-wrapper .content-wrapper ul li::before {top: 1rem; width: 20px; height: 20px; background-size: contain;}
    
    /* Service CybSafe */
    .application-wrapper .media-wrapper img {max-width: 260px;}
    .application-wrapper.cybsafe .media-wrapper .features-wrapper.chat {display: none!important;}
    .application-wrapper.cybsafe .media-wrapper .features-wrapper.alert {bottom: 100px; left: -28px; width: 100%;}
    .application-wrapper.cybsafe .media-wrapper .features-wrapper.localisation {top: 120px; right: -40px;}
    .application-wrapper.cybsafe .media-wrapper .features-wrapper.localisation > svg {transform: rotate(178deg); animation-name: svgWidth;}
    @keyframes svgWidth {
        to {
            width: 70%;
        }
    }

    .outer-circle.current-location {left: -110px; bottom: -80px;}

    /* Interactive Map */
    .activity-wrapper {display: none;}
    .application-wrapper.interactive-map .media-wrapper .outer-circle.drink.pulse {top: 228px; left: 56px;}
    .application-wrapper.interactive-map .media-wrapper .outer-circle.current-location {top: 200px; left: 60px;}

    /* Footer */
    footer .footer-top__wrapper #secondary-navigation {flex-wrap: wrap; gap: 1.5rem;}
    footer .footer-bottom__wrapper {flex-direction: column;}
    footer .footer-bottom__wrapper span {width: 100%; text-align: center;}
    footer .footer-bottom__wrapper .credentials {flex-direction: column; align-items: center; gap: 0; width: 100%;}
    footer .footer-bottom__wrapper span, footer .footer-bottom__wrapper .credentials a {padding: 0.75rem 1rem;}
}
  